.containerC {
    padding: 0px;
    margin: 0px auto;
    background-image: linear-gradient(45deg, black, crimson);

}

.titulo {
    background-color: rgba(17, 15, 15, 0.83);
    color: rgba(218, 130, 16, 0.96);
    border-radius: 10px;
}

#display {
    padding: 5px;
    background-color: rgb(204, 210, 210);
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botao {
    width: 100px;
    height: 50px;
    margin: 3px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(204, 84, 3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    color: #fff;
    box-shadow: 2px 2px 3px #000
}
button:hover{
    background-color: rgba(126, 124, 124, 0.974);
}